<section class="playlists-container container clearfix">
  <div
      class="playlists-each-playlist column fourth"
      ng-repeat="key in playlists.playlist.objectKeys(playlists.playlist.list)">
    <p>
      <a
          class="playlists-title"
          ui-sref="album"
          ng-click="playlists.playlist.playThisPlaylist(key)">
        {{ key }}
      </a>
      <span
          class="ion-android-delete"
          ng-click="playlists.playlist.showYesNoDialog=true">
      </span>
    </p>
    <p
        class="playlists-song caption"
        ng-repeat="song in playlists.playlist.list[key]">
      {{ playlists.playlist.unPlaylistKey(song)[1] }} /
      {{ playlists.playlist.unPlaylistKey(song)[0]}}
      <span
          class="ion-android-delete"
          ng-click="playlists.playlist.deleteFromPlaylist(key, song)">
      </span>
    </p>
    <yes-no-dialog
        ng-show='playlists.playlist.showYesNoDialog'
        key='{{key}}'
        title='{{playlists.playlist.areYouSureDelete}}'
        button-yes='{{playlists.playlist.yes}}'
        button-no='{{playlists.playlist.no}}'
        handle-yes='playlists.playlist.deletePlaylist(key)'
        handle-no='playlists.playlist.showYesNoDialog=false'
        leave='playlists.playlist.setShowYesNoDialog(false)'>
    </yes-no-dialog>
  </div>
 </section>
